In [6]:
import numpy as np
import pandas as pd
import csv

import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib import cm
import seaborn as sns 
from sklearn.preprocessing import Imputer

df1 = pd.read_csv('ethnicity_and_arrest.csv', na_values=['#NAME?'])

df1['Age_Group'] = df1['Age_Group'].replace('-', 0)
df=df1['Arrests'] 
df1['Arrests'] = df1['Arrests'].replace('-', 0)
df1['Arrests'] = df1['Arrests'].replace(' ', 0)
df1['Arrests'] = df1['Arrests'].str.replace(',', '')
df1['Arrests'] = df1['Arrests'].replace(np.nan, 0)
df = df1['Arrests'].astype(int)
df1.plot(x="Ethnicity", y="Arrests")
gph = df1['Arrests'].sort_values('Arrests') 



df1.head(20)

,Unnamed: 0,All,Unnamed: 2,Female,Unnamed: 4,Male,Unnamed: 6
0,Ethnicity,"Rate per 1,000",Number_of_arrests,"Rate per 1,000",Number of arrests,"Rate per 1,000",Number of arrests
1,All,12,"671,126",3,"97,117",21,"574,009"
2,Asian,12,"42,872",2,"2,925",21,"39,947"
3,Bangladeshi,14,"6,291",2,347,26,"5,944"
4,Indian,6,"8,527",1,722,11,"7,805"
5,Pakistani,14,"15,367",2,890,26,"14,477"
6,Asian other,15,"12,687",2,966,29,"11,721"
7,Black,32,"60,116",6,"6,063",60,"54,053"
8,Black African,23,"22,697",4,"2,132",43,"20,565"
9,Black Caribbean,33,"19,611",6,"2,051",64,"17,560"
10,Black other,64,"17,808",14,"1,880",113,"15,928"
11,Mixed,18,"21,832",5,"3,222",31,"18,610"
12,Mixed White/Asian,7,"2,246",2,306,11,"1,940"
13,Mixed White/Black African,16,"2,593",4,352,27,"2,241"
14,Mixed White/Black Caribbean,26,"10,969",8,"1,628",45,"9,341"
15,Mixed other,21,"6,024",6,936,36,"5,088"
16,White,10,"452,320",3,"71,718",17,"380,602"
17,White British,9,"400,914",3,"64,857",16,"336,057"
18,White Irish,12,"6,224",3,939,21,"5,285"
19,White other,18,"45,182",4,"5,922",33,"39,260"

df1 = pd.read_csv('number-of-arrests.csv', na_values=['#NAME?'])

#df1['Age_Group'] = df1['Age_Group'].replace('-', 0)
#df=df1['Arrests']

In [2]:
df1['Arrests'] = df1['Arrests'].replace('-', 0)
df1['Arrests'] = df1['Arrests'].replace(' ', 0)
df1['Arrests'] = df1['Arrests'].str.replace(',', '')
df1['Arrests'] = df1['Arrests'].replace(np.nan, 0)
df = df1['Arrests'].astype(int)

NameError: name 'df1' is not defined

In [1]:
#df1.plot(x="Ethnicity", y="Arrests")
#gph = df1['Arrests'].sort_values('Arrests')
df.plot(x=df1['Ethnicity'], y=df1['Arrests'], kind="bar")

NameError: name 'df' is not defined

In [ ]:
df1['Number_of_arrests'].plot(kind='density', subplots=True, layout=(3,3), sharex=False) 
plt.show()

In [ ]:
df1['Number_of_arrests'].plot(kind='density', subplots=True, layout=(3,3), sharex=False)
plt.show()